# Dependencies
node_modules/

# Environment variables
.env
.env.docker
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build outputs
dist/
build/
*.tsbuildinfo

# Uploads
uploads/

# Docs
docs/

# Temporary files
COMMIT_MESSAGE.txt

#file md
# AUDIT_DAN_REFACTORING_PLAN.md
# PANDUAN_BEDAH_KODE.md

.env.docker
.env
.env.production
